*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .piano {
    display: flex;
  }
  
    .key {
        height: calc(var(--width) * 4);
        width: var(--width);
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
  
  
  .white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
  }
  
  .white.active {
    background-color: #CCC;
    transform: translateY(5px);
  }
  
  .black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    color: white;
  }
  
  .black.active {
    background-color: #333;
    transform: translateY(5px);
  }

  .board{
    border: 1px solid white;
    height:200px;
    width: 1400px;
    background: red;
  }

  .customNote .white{
    background: lightgreen;
    
    overflow: hidden;
  }
  .animate{
    animation: animationName 5s linear forwards;
  }

  @keyframes animationName {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(100%);
    }
  }